---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v4.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app error-pages
  namespace: kube-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      error-pages:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/tarampampam/error-pages
              tag: 3.8.0@sha256:6050bfa178c2c87387af8e4a219b9f89c88635bbf31251e950e2fb616b0fc3bd
            env:
              TEMPLATE_NAME: connection
              SHOW_DETAILS: "false"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 5m
                memory: 16M
              limits:
                memory: 32M
            securityContext:
              runAsNonRoot: true
              runAsUser: 65534
              runAsGroup: 65534
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              seccompProfile:
                type: RuntimeDefault
              capabilities:
                drop: ["ALL"]

    service:
      app:
        controller: error-pages
        ports:
          http:
            port: &port 8080

    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/external: "true"
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
        hostnames:
          - &host error-pages.eviljungle.com
        rules:
          - backendRefs:
              - port: *port
      internal:
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames:
          - *host
        rules:
          - backendRefs:
              - port: *port
