---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v4.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ser2sock
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nutech.feature.node.kubernetes.io/alarmdecoder
                    operator: In
                    values:
                      - "true"
    controllers:
      main:
        containers:
          main:
            image:
              repository: tenstartups/ser2sock
              tag: latest@sha256:379d9338c720da30b63dc4cf2ecea07eb89dac7d62d5c79047294fffe97ae559
              pullPolicy: Always
            env:
              TZ: "America/New York"
              LISTENER_PORT: 10000
              BAUD_RATE: 115200
              SERIAL_DEVICE: "/dev/ttyUSB0"
            resources:
              requests:
                memory: 50Mi
                cpu: 15m
              limits:
                memory: 250Mi
                generic-device-plugin/alarmdecoder: 1
    service:
      main:
        controller: main
        ports:
          server:
            port: 10000
            primary: true
            protocol: TCP
