---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
  annotations:
    fluxcd.io/automated: "false"
    fluxcd.io/tag.chart-image: semver:~v1.
spec:
  releaseName: cert-manager
  rollback:
    enable: false
  chart:
    repository: https://charts.jetstack.io/
    name: cert-manager
    version: v1.0.3
  values:
    installCRDs: true
    webhook:
      enabled: true
      tolerations:
      - key: "arm"
        operator: "Exists"
    extraArgs:
    - --dns01-recursive-nameservers=1.1.1.1:53
    - --dns01-recursive-nameservers-only
    tolerations:
    - key: "arm"
      operator: "Exists"
    cainjector:
      replicaCount: 1
      # extraArgs:
      #   - --leader-elect=false
      tolerations:
      - key: "arm"
        operator: "Exists"
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
        prometheusInstance: monitoring
