---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.jetstack.io/
      chart: cert-manager
      version: v1.11.0
      sourceRef:
        kind: HelmRepository
        name: jetstack-charts
        namespace: flux-system
      interval: 5m
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    installCRDs: true
    webhook:
      enabled: true
      tolerations:
      - key: "arm"
        operator: "Exists"
    extraArgs:
    - --dns01-recursive-nameservers=1.1.1.1:53
    - --dns01-recursive-nameservers-only
    tolerations:
    - key: "arm"
      operator: "Exists"
    cainjector:
      replicaCount: 1
      # extraArgs:
      #   - --leader-elect=false
      tolerations:
      - key: "arm"
        operator: "Exists"
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
        prometheusInstance: monitoring
