---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
  namespace: kube-system
spec:
  chart:
    spec:
      chart: coredns
      version: 1.45.0
      sourceRef:
        kind: HelmRepository
        name: coredns
        namespace: flux-system
      interval: 30m
  interval: 30m
  values:
    fullnameOverride: coredns
    image:
      repository: mirror.gcr.io/coredns/coredns
    replicaCount: 2
    k8sAppLabelOverride: kube-dns
    prometheus:
      service:
        enabled: true
      monitor:
        enabled: true
    serviceAccount:
      create: true
    service:
      name: kube-dns
      clusterIP: 10.96.0.10
    servers:
      - zones:
          - zone: .
            scheme: dns://
            use_tcp: true
        port: 53
        plugins:
          - name: errors
          - name: health
            configBlock: |-
              lameduck 5s
          - name: ready
          - name: log
            configBlock: |-
              class error
          - name: prometheus
            parameters: 0.0.0.0:9153
          - name: hosts
            configBlock: |-
              10.0.7.50 k8s-0
              10.0.7.51 k8s-a
              10.0.7.52 k8s-b
              10.0.7.53 k8s-c
              10.0.7.54 k8s-d
              10.0.7.55 k8s-e
              10.0.7.57 k8s-g
              10.0.7.58 k8s-h
              10.0.7.59 k8s-i
              fallthrough
          - name: kubernetes
            parameters: cluster.local in-addr.arpa ip6.arpa
            configBlock: |-
              pods insecure
              fallthrough in-addr.arpa ip6.arpa
          - name: forward
            parameters: . /etc/resolv.conf
          - name: cache
            parameters: 30
          - name: loop
          - name: reload
          - name: loadbalance
