---
apiVersion: batch/v1
kind: Job
metadata:
  name: list-snapshots-{{ ENV.APP }}
  namespace: {{ ENV.NS }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app.kubernetes.io/created-by: volsync
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: list
          image: ghcr.io/home-operations/kopia:0.22.3@sha256:eeebd12fd4b3a9c25b9f711fff32454f62e2d5e2d431ab6806ad21c52f414807
          args:
            - snapshot
            - list
            - --all
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          envFrom:
            - secretRef:
                name: {{ ENV.APP }}-kopia-secret
          volumeMounts:
            - mountPath: /repository
              name: repository
      volumes:
        - name: repository
          nfs:
            server: "nas.home"
            path: "/mnt/tank/backups/kopia"
