---
apiVersion: batch/v1
kind: Job
metadata:
  name: list-snapshots-{{ ENV.APP }}
  namespace: {{ ENV.NS }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app.kubernetes.io/created-by: volsync
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      containers:
        - name: list
          image: docker.io/restic/restic:0.16.2
          args:
            - snapshots
          envFrom:
            - secretRef:
                name: {{ ENV.APP }}-restic-secret
          volumeMounts:
            - mountPath: /repository
              name: repository
      volumes:
        - name: repository
          nfs:
            server: "nas.home"
            path: "/mnt/ssdtank/s3/volsync"