---
apiVersion: batch/v1
kind: Job
metadata:
  name: list-snapshots-{{ ENV.APP }}
  namespace: {{ ENV.NS }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app.kubernetes.io/created-by: volsync
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      containers:
        - name: list
          image: ghcr.io/kopia/kopia:0.18.2
          args:
            - snapshot
            - list
            - --all
          envFrom:
            - secretRef:
                name: {{ ENV.APP }}-kopia-secret
          volumeMounts:
            - mountPath: /repository
              name: repository
      volumes:
        - name: repository
          nfs:
            server: "nas.home"
            path: "/mnt/tank/backups/kopia"
