---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ ENV.APP }}-manual
  namespace: {{ ENV.NS }}
spec:
  trigger:
    manual: restore-once
  kopia:
    repository: {{ ENV.APP }}-kopia-secret
    destinationPVC: {{ ENV.CLAIM }}
    copyMethod: Direct
    enableFileDeletion: true
    storageClassName: {{ ENV.STORAGE_CLASS_NAME }}
    accessModes: ["ReadWriteOnce"]
    previous: {{ ENV.PREVIOUS }}
    restoreAsOf: {{ ENV.RESTORE_AS_OF }}
    moverSecurityContext:
      runAsUser: {{ ENV.PUID }}
      runAsGroup: {{ ENV.PGID }}
      fsGroup: {{ ENV.PUID }}
