---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ ENV.APP }}-manual
  namespace: {{ ENV.NS }}
spec:
  trigger:
    manual: restore-once
  kopia:
    repository: {{ ENV.APP }}-kopia-secret
    destinationPVC: {{ ENV.CLAIM }}
    copyMethod: Direct
    enableFileDeletion: true
    cacheCapacity: {{ ENV.CACHE_CAPACITY | default("5Gi") }}
    cacheStorageClassName: ceph-block
    cacheAccessModes: ["ReadWriteOnce"]
    cleanupCachePVC: true
    cleanupTempPVC: true
    previous: {{ ENV.PREVIOUS }}
    restoreAsOf: {{ ENV.RESTORE_AS_OF }}
    moverSecurityContext:
      runAsUser: {{ ENV.PUID }}
      runAsGroup: {{ ENV.PGID }}
      fsGroup: {{ ENV.PUID }}
    sourceIdentity:
      sourceName: {{ ENV.APP }}
      sourceNamespace: {{ ENV.NS }}
    volumeSnapshotClassName: csi-ceph-blockpool
