---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-v17
  namespace: default
spec:
  # using only 1 replica: very difficult to drain the node where postgres is running
  # using more than 1 replica: write amplification issues when leveraging replicated storage (e.g. ceph)
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:17.4
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: ceph-block
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg-secret
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
      pg_stat_statements.max: "10000"
      pg_stat_statements.track: all
  monitoring:
    enablePodMonitor: true
  # https://github.com/cloudnative-pg/cloudnative-pg/issues/2570
  enablePDB: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "4Gi"
  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://postgresql/
      endpointURL: http://nas.home:3900
      serverName: postgres-v17-2  # New serverName to avoid WAL conflict during recovery
      s3Credentials:
        region:
          name: cloudnative-pg-secret
          key: REGION
        accessKeyId:
          name: cloudnative-pg-secret
          key: aws-access-key-id
        secretAccessKey:
          name: cloudnative-pg-secret
          key: aws-secret-access-key

  # bootstrap:
  # use this to recover a net-new cluster from a backup
  #   recovery:
  #     source: postgres-v17-backup

  externalClusters:
    # S3 backup source for recovery (uncomment bootstrap section above to use)
    - name: postgres-v17-backup
      barmanObjectStore:
        destinationPath: s3://postgresql/
        endpointURL: http://nas.home:3900
        serverName: postgres-v17
        s3Credentials:
          region:
            name: cloudnative-pg-secret
            key: REGION
          accessKeyId:
            name: cloudnative-pg-secret
            key: aws-access-key-id
          secretAccessKey:
            name: cloudnative-pg-secret
            key: aws-secret-access-key
    # this represents an existing cnpg cluster to migrate from (e.g. upgrading from postgres v14 to postgres v15)
    - name: postgres-v15
      connectionParameters:
        host: postgres-v15-rw.default.svc.cluster.local
        user: postgres
        dbname: postgres
        sslmode: require
      password:
        name: cloudnative-pg-secret
        key: password
