---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/barmancloud.cnpg.io/objectstore_v1.json
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: postgres
  namespace: default
spec:
  retentionPolicy: 30d
  instanceSidecarConfiguration:
    resources:
      limits:
        memory: 512Mi
        cpu: 1
      requests:
        memory: 128Mi
        cpu: 10m
  configuration:
    destinationPath: s3://postgresql/
    endpointURL: http://nas.home:3900
    s3Credentials:
      region:
        name: cloudnative-pg-secret
        key: REGION
      accessKeyId:
        name: cloudnative-pg-secret
        key: aws-access-key-id
      secretAccessKey:
        name: cloudnative-pg-secret
        key: aws-secret-access-key
    wal:
      compression: zstd
    data:
      compression: gzip
