---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: fluent-bit
  namespace: monitoring
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.55.0
  url: oci://ghcr.io/fluent/helm-charts/fluent-bit
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluent-bit
  namespace: monitoring
spec:
  chartRef:
    kind: OCIRepository
    name: fluent-bit
  interval: 1h
  values:
    tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule

    config:
      service: |-
        [SERVICE]
          daemon off
          flush {{ .Values.flush }}
          log_level {{ .Values.logLevel }}
          parsers_file /fluent-bit/etc/parsers.conf
          parsers_file /fluent-bit/etc/conf/custom_parsers.conf
          http_server on
          http_listen 0.0.0.0
          http_port {{ .Values.metricsPort }}
          health_check on

      inputs: |-
        [INPUT]
          name tail
          alias kubernetes
          path /var/log/containers/*.log
          parser containerd
          tag kubernetes.*
          skip_empty_lines on
          skip_long_lines on

      filters: |-
        [FILTER]
          name kubernetes
          match kubernetes.*
          merge_log on
          kube_tag_prefix kubernetes.var.log.containers.
          k8s-logging.parser on
          k8s-logging.exclude on
          namespace_labels off
          annotations off
          buffer_size 128KB

        [FILTER]
          name nest
          match kubernetes.*
          operation lift
          nested_under kubernetes
          add_prefix k_

        [FILTER]
          name nest
          match kubernetes.*
          operation lift
          nested_under k_labels
          add_prefix k_labels_

        [FILTER]
          name modify
          match kubernetes.*
          rename k_labels_app.kubernetes.io/name app
          rename k_labels_app app
          rename k_labels_k8s-app app

      customParsers: |-
        [PARSER]
          name containerd
          format regex
          regex ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$
          time_key time
          time_format %Y-%m-%dT%H:%M:%S.%L%z

      outputs: |-
        [OUTPUT]
          name http
          match kubernetes.*
          host victoria-logs-server.monitoring.svc.cluster.local
          port 9428
          uri /insert/jsonline?_stream_fields=stream,k_namespace_name,k_pod_name,app&_msg_field=log&_time_field=date
          format json_lines
          json_date_format iso8601
          compress gzip
          log_response_payload false
    dashboards:
      enabled: true
      annotations:
        grafana_folder: infrastructure
    logLevel: warn
    serviceMonitor:
      enabled: true
