---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.rook.io/release
      chart: rook-ceph
      version: v1.5.4
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
      interval: 5m
  values:
    crds:
      enabled: false
    csi:
      kubeletDirPath: /var/lib/kubelet
      cephcsi:
        image: quay.io/cephcsi/cephcsi:v3.2.0
      registrar:
        image: raspbernetes/csi-node-driver-registrar:2.0.1
      provisioner:
        image: raspbernetes/csi-external-provisioner:2.0.0
      snapshotter:
        image: raspbernetes/csi-external-snapshotter:3.0.0
      attacher:
        image: raspbernetes/csi-external-attacher:3.0.0
      resizer:
        image: raspbernetes/csi-external-resizer:1.0.0
      pluginTolerations:
        - key: "arm"
          operator: "Exists"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
    resources:
      limits:
        cpu: 1000m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
