---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: generic-device-plugin
  namespace: kube-system
spec:
  suspend: false
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    defaultPodOptions:
      priorityClassName: system-node-critical
    controllers:
      generic-device-plugin:
        type: daemonset
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/squat/generic-device-plugin
              tag: latest@sha256:2b53d255017668d70d7f59ff0b874a66c3a50922d1f8cfff182e4c55b82251a1
            args:
              - --log-level=info
              - --domain=squat-ai
              - --device
              - |
                name: tun
                groups:
                  - count: 1000
                    paths:
                      - path: /dev/net/tun
              - --device
              - |
                name: coral
                groups:
                  - usb:
                      - vendor: "1a6e"
                      - vendor: "18d1"
              - --device
              - |
                name: serial
                groups:
                  - paths:
                      - path: /dev/ttyUSB*
                  - paths:
                      - path: /dev/ttyACM*
                  - paths:
                      - path: /dev/tty.usb*
                  - paths:
                      - path: /dev/cu.*
                  - paths:
                      - path: /dev/cuaU*
                  - paths:
                      - path: /dev/rfcomm*

            ports:
              - containerPort: 8080
                name: http

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      dev:
        type: hostPath
        hostPath: /dev
        globalMounts:
          - readOnly: true
      sys:
        type: hostPath
        hostPath: /sys
        globalMounts:
          - readOnly: true
      var-lib-kubelet-device-plugins:
        type: hostPath
        hostPath: /var/lib/kubelet/device-plugins
