---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v4.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: generic-device-plugin
  namespace: kube-system
spec:
  suspend: false
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    defaultPodOptions:
      priorityClassName: system-node-critical
    controllers:
      generic-device-plugin:
        type: daemonset
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/squat/generic-device-plugin
              tag: latest@sha256:efa50af6e8919b71694909f763e06aa80f37dbc605bbbe4018aa0252a75c24a4
            args:
              - --log-level=info
              - --domain=generic-device-plugin
              - --device
              - |
                name: coral
                groups:
                  - count: 1
                    usb:
                      - vendor: 1a6e
                        product: 089a
                      - vendor: 18d1
                        product: 9302
              - --device
              - |
                name: alarmdecoder
                groups:
                  - usb:
                      - vendor: "0403"
                      - device: "6015"
                  - paths:
                      - path: /dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DO00DPTS-if00-port0
                        mountPath: /dev/ttyUSB0
              - --device
              - |
                name: zwave
                groups:
                  - usb:
                      - vendor: "0658"
                      - device: "0200"
                  - paths:
                      - path: /dev/serial/by-id/usb-0658_0200-if00
                        mountPath: /dev/ttyACM0

            ports:
              - containerPort: 8080
                name: http

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi

    persistence:
      dev:
        type: hostPath
        hostPath: /dev
      sys:
        type: hostPath
        hostPath: /sys
        globalMounts:
          - readOnly: true
      var-lib-kubelet-device-plugins:
        type: hostPath
        hostPath: /var/lib/kubelet/device-plugins
