---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: generic-device-plugin
  namespace: kube-system
spec:
  suspend: false
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    defaultPodOptions:
      priorityClassName: system-node-critical
    controllers:
      generic-device-plugin:
        type: daemonset
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/squat/generic-device-plugin
              tag: latest@sha256:5abfa9c45aee2d8d9cc1f3d4587c4cf382b36d17b9d937e43d0c07126243037
            args:
              - --log-level=info
              - --device
              - |
                name: coral
                groups:
                  - usb:
                      - vendor: "0403"
                      - vendor: "18d1"
              - --device
              - |
                name: alarmdecoder
                groups:
                  - usb:
                      - vendor: "1a6e"
                      - device: "6015"
              - --device
              - |
                name: zwave
                groups:
                  - usb:
                      - vendor: "0658"
                      - device: "0200"

            ports:
              - containerPort: 8080
                name: http

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      dev:
        type: hostPath
        hostPath: /dev
        globalMounts:
          - readOnly: true
      sys:
        type: hostPath
        hostPath: /sys
        globalMounts:
          - readOnly: true
      var-lib-kubelet-device-plugins:
        type: hostPath
        hostPath: /var/lib/kubelet/device-plugins
