---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: victoriametrics
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: victoria-metrics-k8s-stack-helm-values
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        values.yaml: |
          alertmanager:
            config:
              global:
                slack_api_url: "{{ .DISCORD_ALERTMANAGER_WEBHOOK_URL }}"
              receivers:
                - name: 'blackhole'
                - name: 'pagerduty-critical'
                  pagerduty_configs:
                    - routing_key: "{{ .PAGERDUTY_ROUTING_KEY }}"
                      send_resolved: true
                      severity: '{{ "{{" }} if .CommonLabels.severity {{ "}}" }}{{ "{{" }} .CommonLabels.severity {{ "}}" }}{{ "{{" }} else {{ "}}" }}critical{{ "{{" }} end {{ "}}" }}'
                      description: '{{ "{{" }} if .CommonAnnotations.summary {{ "}}" }}{{ "{{" }} .CommonAnnotations.summary {{ "}}" }}{{ "{{" }} else if .CommonAnnotations.message {{ "}}" }}{{ "{{" }} .CommonAnnotations.message {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }} .CommonLabels.alertname {{ "}}" }}{{ "{{" }} end {{ "}}" }}'
                      client: 'VictoriaMetrics AlertManager'
                      client_url: 'https://vm-alert.eviljungle.com'
                      details:
                        firing: '{{ "{{" }} .Alerts.Firing | len {{ "}}" }}'
                        resolved: '{{ "{{" }} .Alerts.Resolved | len {{ "}}" }}'
                        alert_details: '{{ "{{" }} range .Alerts {{ "}}" }}{{ "{{" }} .Labels.alertname {{ "}}" }}: {{ "{{" }} .Annotations.description {{ "}}" }}{{ "{{" }} end {{ "}}" }}'
                - name: 'slack-notifications'
                  slack_configs:
                    - channel: '#notifications'
                      icon_url: https://avatars3.githubusercontent.com/u/3380462
                      username: 'Alertmanager'
                      send_resolved: true
                      max_alerts: 15
                      title: "[{{ "{{" }} .Status | toUpper {{ "}}" }}{{ "{{" }} if eq .Status \"firing\" {{ "}}" }}:{{ "{{" }} .Alerts.Firing | len {{ "}}" }}{{ "{{" }} end {{ "}}" }}] {{ "{{" }} if eq .Status \"firing\" {{ "}}" }}{{ "{{" }} if eq .CommonLabels.severity \"critical\" {{ "}}" }}\U0001F525{{ "{{" }} else if eq .CommonLabels.severity \"warning\" {{ "}}" }}⚠️{{ "{{" }} else {{ "}}" }}ℹ️{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}✅{{ "{{" }} end {{ "}}" }} {{ "{{" }} if ne .CommonAnnotations.summary \"\" {{ "}}" }}{{ "{{" }} .CommonAnnotations.summary {{ "}}" }} {{ "{{" }} else if ne .CommonAnnotations.message \"\" {{ "}}" }}{{ "{{" }} .CommonAnnotations.message {{ "}}" }} {{ "{{" }} else if ne .CommonAnnotations.description \"\" {{ "}}" }}{{ "{{" }} .CommonAnnotations.description {{ "}}" }} {{ "{{" }} else {{ "}}" }}{{ "{{" }} .CommonLabels.alertname {{ "}}" }}{{ "{{" }} end {{ "}}" }}"
                      text: "{{ "{{" }} range .Alerts -{{ "}}" }}\n  **Alert:** {{ "{{" }} .Annotations.title {{ "}}" }}{{ "{{" }} if .Labels.severity {{ "}}" }} - `{{ "{{" }} .Labels.severity {{ "}}" }}`{{ "{{" }} end {{ "}}" }}\n\n{{ "{{" }} if ne .Annotations.summary \"\" {{ "}}" }}**Summary:** {{ "{{" }} .Annotations.summary {{ "}}" }} {{ "{{" }} else if ne .Annotations.message \"\" {{ "}}" }}**Message:** {{ "{{" }} .Annotations.message {{ "}}" }} {{ "{{" }} else if ne .Annotations.description \"\" {{ "}}" }}**Description:** {{ "{{" }} .Annotations.description {{ "}}" }}{{ "{{" }} end {{ "}}" }}\n\n\U0001F3F7 Labels:\n   {{ "{{" }} range .Labels.SortedPairs {{ "}}" }} • *{{ "{{" }} .Name {{ "}}" }}:* `{{ "{{" }} .Value {{ "}}" }}`\n   {{ "{{" }} end {{ "}}" }}\n{{ "{{" }} end {{ "}}" }}"
        additionalScrapeConfigs.yaml: |
          - job_name: 'home-assistant'
            scrape_interval: 60s
            metrics_path: '/api/prometheus'
            authorization:
              credentials: "{{ .PROM_HASS_TOKEN }}"
            scheme: http
            static_configs:
            - targets:
              - home-assistant.default.svc:8123
  dataFrom:
    - extract:
        key: prometheus
