---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
  namespace: monitoring
spec:
  chart:
    spec:
      chart: victoria-logs-single
      version: 0.11.18
      sourceRef:
        kind: HelmRepository
        name: victoriametrics-charts
        namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: victoria-logs
    retentionPeriod: 14d
    server:
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 20Gi
      ingress:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
          external-dns.alpha.kubernetes.io/target: "10.0.6.160"
        hosts:
          - name: victoria-logs.eviljungle.com
            path:
              - /
            port: http
        tls:
          - hosts:
              - victoria-logs.eviljungle.com
        ingressClassName: nginx-tailscale
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true
      annotations:
        grafana_folder: observability
      labels:
        grafana_dashboard: "1"
