---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
  namespace: monitoring
spec:
  chart:
    spec:
      chart: victoria-logs-single
      version: 0.11.23
      sourceRef:
        kind: HelmRepository
        name: victoriametrics-charts
        namespace: flux-system
  interval: 1h
  install:
    createNamespace: true
  values:
    fullnameOverride: victoria-logs
    retentionPeriod: 14d
    server:
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 20Gi
      serviceMonitor:
        enabled: true
      route:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
          external-dns.alpha.kubernetes.io/target: "10.0.6.151"
        parentRefs:
          - name: internal
            namespace: kube-system
        hostnames:
          - victoria-logs.eviljungle.com
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: victoria-logs-server
                port: 9428
    dashboards:
      enabled: true
      annotations:
        grafana_folder: observability
      labels:
        grafana_dashboard: "1"
