---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gatus
  namespace: monitoring
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      gatus:
        initContainers:
          gatus-sidecar:
            image:
              repository: ghcr.io/home-operations/gatus-sidecar
              tag: 0.0.13@sha256:40d549ea5ae89acac94bdf4cee1233e718a96c6e382c67f7e28de688511169d2
            args:
              - --auto-httproute
              - --enable-httproute
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 32Mi
            restartPolicy: Always
        containers:
          app:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.35.0@sha256:21609f31be8c4e680ce3004b24276305666239c99aff58391503f3fb6142f39d
            env:
              GATUS_DELAY_START_SECONDS: 5
              GATUS_CONFIG_PATH: /config
              GATUS_WEB_PORT: &port 80
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
        serviceAccount:
          identifier: gatus

    serviceAccount:
      gatus: {}

    rbac:
      roles:
        gatus:
          type: ClusterRole
          rules:
            - apiGroups: ["gateway.networking.k8s.io"]
              resources: ["gateways", "httproutes"]
              verbs: ["get", "watch", "list"]
      bindings:
        gatus:
          type: ClusterRoleBinding
          roleRef:
            identifier: gatus
          subjects:
            - identifier: gatus

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: gatus
        ports:
          http:
            port: *port

    serviceMonitor:
      app:
        endpoints:
          - port: http

    configMaps:
      config:
        data:
          config.yaml: |
            connectivity:
              checker:
                target: 1.1.1.1:53
                interval: 1m

            endpoints:
              - name: Cloudflare
                group: connectivity
                url: icmp://1.1.1.1
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

              - name: Google
                group: connectivity
                url: icmp://8.8.8.8
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

              - name: Quad9
                group: connectivity
                url: icmp://9.9.9.9
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"

            metrics: true

            storage:
              type: sqlite
              caching: true
              path: ${GATUS_CONFIG_PATH}/gatus.db

            ui:
              title: Status | eviljungle.com
              header: Status

            web:
              port: ${GATUS_WEB_PORT}

    persistence:
      config:
        existingClaim: gatus-config
        globalMounts:
          - path: /config
      config-file:
        type: configMap
        name: gatus
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true

    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/external: "true"
          gatus.home-operations.com/enabled: "false"
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
        hostnames:
          - &host status.eviljungle.com
      internal:
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
          gatus.home-operations.com/enabled: "false"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames:
          - *host
