---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: k8s
    role: alert-rules
  name: ceph-custom-rules
  namespace: monitoring
spec:
  groups:
  - name: ceph-custom.rules
    rules:
    - alert: CephNodeDiskspaceWarning
      annotations:
        description: Mountpoint {{ $labels.mountpoint }} on {{ $labels.nodename }} will be full in less than 3 days based on the 48 hour trailing fill rate and is currently at {{ printf "%.2f" $value }}% usage.
        summary: Host filesystem free space is getting low
      expr: |
        (
          predict_linear(node_filesystem_free_bytes{device=~"/.*"}[2d], 3600 * 24 * 3)
          * on(instance) group_left(nodename) node_uname_info < 0
        )
        and
        (
          (1 - node_filesystem_avail_bytes{device=~"/.*"} / node_filesystem_size_bytes) * 100 > 70
        )
      labels:
        oid: 1.3.6.1.4.1.50495.1.2.1.8.4
        severity: warning
        type: ceph_default
