---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kubernetes-event-exporter
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: kubernetes-event-exporter-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        webhook-url: "{{ .address }}"
  dataFrom:
    - extract:
        key: discord-webhook
