---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana-charts
  namespace: monitoring
spec:
  interval: 30m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 10.5.3
  url: oci://ghcr.io/grafana/helm-charts/grafana
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  chartRef:
    kind: OCIRepository
    name: grafana-charts
  interval: 1h
  values:
    admin:
      existingSecret: grafana-secret
    rbac:
      pspEnabled: false
    deploymentStrategy:
      type: Recreate
    env:
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES: false
      GF_ANALYTICS_REPORTING_ENABLED: false
      GF_AUTH_ANONYMOUS_ENABLED: false
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_GRAFANA_NET_URL: https://grafana.net
      GF_LOG_FILTERS: rendering:debug
      GF_LOG_MODE: console
      GF_FEATURE_TOGGLES_ENABLE: publicDashboards
      GF_NEWS_NEWS_FEED_ENABLED: false
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_SERVER_ROOT_URL: https://grafana.eviljungle.com
      GF_SECURITY_COOKIE_SAMESITE: grafana
    envFromSecrets:
      - name: grafana-secret
    plugins:
      - victoriametrics-logs-datasource
    serviceMonitor:
      enabled: true
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            disableDeletion: false
            editable: true
            folder: ""
            options:
              path: /var/lib/grafana/dashboards/default
            orgId: 1
            type: file
          - name: ceph
            orgId: 1
            folder: Ceph
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/ceph
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: gateway
            orgId: 1
            folder: Gateway API
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/gateway
          - name: 'teslamate'
            orgId: 1
            folder: Teslamate
            type: file
            disableDeletion: false
            allowUiUpdates: true
            options:
              path: /var/lib/grafana/dashboards/teslamate
    dashboards:
      default:
        # Ref: https://grafana.com/grafana/dashboards/22413-k8s-node-metrics-multi-clusters-node-exporter-prometheus-grafana11-2024-en/
        1-node-exporter:
          url: https://grafana.com/api/dashboards/22413/revisions/4/download
          datasource: Prometheus
        cert-manager:
          gnetId: 20842
          revision: 3
          datasource: Prometheus
        cloudnative-pg:
          url: https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/main/docs/src/samples/monitoring/grafana-dashboard.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus
        home-assistant:
          url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/home_assistant.json
          datasource: home_assistant
        # Ref: https://grafana.com/grafana/dashboards/1860-node-exporter-full/
        node-exporter-full:
          gnetId: 1860
          revision: 36
          datasource: Prometheus
        node-feature-discovery:
          url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
        opnsense:
          url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/opnsense.json
          datasource: Prometheus
        prometheus-exporter-summary:
          url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/prometheus_exporter_summary.json
          datasource: Prometheus
        smartctl:
          gnetId: 22604
          revision: 2
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
        # Ref: https://grafana.com/grafana/dashboards/22651-prometheus-speedtest-exporter/
        # renovate: dashboardName="Prometheus Speedtest Exporter"
        speedtest-exporter:
          gnetId: 22651
          revision: 1
          datasource: Prometheus
        spegel:
          # renovate: depName="Spegel Monitoring Dashboard"
          gnetId: 22104
          revision: 1
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
        apc-ups:
          # renovate: dashboardName="APC Smart-UPS"
          gnetId: 13524
          revision: 1
          datasource: Prometheus
        etcd:
          # renovate: dashboardName="etcd"
          gnetId: 22236
          revision: 4
          datasource: Prometheus
        blackbox-exporter:
          # renovate: dashboardName="Blackbox Exporter"
          gnetId: 7587
          revision: 3
          datasource: Prometheus
        unifi-insights:
          # renovate: dashboardName="UniFi-Poller: Client Insights - Prometheus"
          gnetId: 11315
          revision: 9
          datasource: Prometheus
        unifi-network-sites:
          # renovate: dashboardName="UniFi-Poller: Network Sites - Prometheus"
          gnetId: 11311
          revision: 5
          datasource: Prometheus
        unifi-uap:
          # renovate: dashboardName="UniFi-Poller: UAP Insights - Prometheus"
          gnetId: 11314
          revision: 10
          datasource: Prometheus
        unifi-usw:
          # renovate: dashboardName="UniFi-Poller: USW Insights - Prometheus"
          gnetId: 11312
          revision: 9
          datasource: Prometheus
        volsync:
          # removate: dashboardName="VolSync Dashboard"
          gnetId: 21356
          revision: 3
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
        # Ref: https://grafana.com/grafana/dashboards/3170-zfs/
        zfs:
          gnetId: 3170
          revision: 3
          datasource: Prometheus
        nfs-server:
          url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/kubernetes/monitoring/grafana/dashboards/nfs_server.json
          datasource: Prometheus

      ceph:
        ceph-cluster:
          # renovate: dashboardName="Ceph Cluster"
          gnetId: 2842
          revision: 18
          datasource: Prometheus
        ceph-osd:
          # renovate: dashboardName="Ceph - OSD (Single)"
          gnetId: 5336
          revision: 9
          datasource: Prometheus
        ceph-pools:
          # renovate: dashboardName="Ceph - Pools"
          gnetId: 5342
          revision: 9
          datasource: Prometheus

      kubernetes:
        k8s-system-api-server:
          # renovate: dashboardName="Kubernetes / System / API Server"
          gnetId: 15761
          revision: 19
          datasource: Prometheus
        k8s-system-coredns:
          # renovate: dashboardName="Kubernetes / System / CoreDNS"
          gnetId: 15762
          revision: 22
          datasource: Prometheus
        k8s-views-global:
          # renovate: dashboardName="Kubernetes / Views / Global"
          gnetId: 15757
          revision: 43
          datasource: Prometheus
        k8s-views-nodes:
          # renovate: dashboardName="Kubernetes / Views / Nodes"
          gnetId: 15759
          revision: 35
          datasource: Prometheus
        k8s-views-namespaces:
          # renovate: dashboardName="Kubernetes / Views / Namespaces"
          gnetId: 15758
          revision: 42
          datasource: Prometheus
        k8s-views-pods:
          # renovate: dashboardName="Kubernetes / Views / Pods"
          gnetId: 15760
          revision: 36
          datasource: Prometheus
        k8s-volumes:
          # renovate: dashboardName="K8s / Storage / Volumes / Cluster"
          gnetId: 11454
          revision: 14
          datasource: Prometheus
        k8s-pvc-stats:
          # renovate: dashboardName="Kubernetes PVC Stats"
          gnetId: 23233
          revision: 6
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
        # kube-prometheus-stack dashboards
        kube-prometheus-dashboards:
          url: https://raw.githubusercontent.com/prometheus-operator/kube-prometheus/main/manifests/grafana-dashboardDefinitions.yaml
          datasource: Prometheus

      gateway:
        # Envoy Gateway Dashboards
        envoy-overview:
          # renovate: dashboardName="Envoy Proxy Overview"
          gnetId: 24459
          revision: 1
          datasource: Prometheus
        envoy-upstream:
          # renovate: dashboardName="Envoy Proxy Upstream"
          gnetId: 24457
          revision: 1
          datasource: Prometheus
        envoy-downstream:
          # renovate: dashboardName="Envoy Proxy Downstream"
          gnetId: 24458
          revision: 1
          datasource: Prometheus
        # Cilium Metrics
        cilium-metrics:
          # renovate: dashboardName="Cilium Metrics"
          gnetId: 21431
          revision: 6
          datasource: Prometheus
      teslamate:
        battery-health:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/battery-health.json
        charge-level:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charge-level.json
        charges:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charges.json
        charging-stats:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charging-stats.json
        database-info.json:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/database-info.json
        drive-stats:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/drive-stats.json
        drives:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/drives.json
        efficiency:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/efficiency.json
        locations:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/locations.json
        mileage:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/mileage.json
        overview:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/overview.json
        projected-range:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/projected-range.json
        states:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/states.json
        statistics:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/statistics.json
        timeline:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/timeline.json
        trip:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/trip.json
        updates:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/updates.json
        vampire-drain:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/vampire-drain.json
        visited:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/visited.json
        charge-details:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/internal/charge-details.json
        drive-details:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/internal/drive-details.json
        home-assistant:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/internal/home.json

    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""

    persistence:
      enabled: false

    testFramework:
      enabled: false

    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - name: Alertmanager
            orgId: 1
          - name: Prometheus
            orgId: 1
          - name: VictoriaLogs
            orgId: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://vmsingle-stack.monitoring.svc.cluster.local:8428
            isDefault: true
            jsonData:
              timeInterval: "15s"
              queryTimeout: "60s"
              httpMethod: POST
          - name: VictoriaLogs
            type: victoriametrics-logs-datasource
            access: proxy
            url: http://victoria-logs-server.monitoring.svc.cluster.local:9428
          - name: Alertmanager
            type: alertmanager
            access: proxy
            url: http://vmalertmanager-stack.monitoring.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
              handleGrafanaManagedAlerts: true
          - name: TeslaMate
            type: postgres
            access: proxy
            url: postgres-ro.default.svc.cluster.local:5432
            database: teslamate
            user: teslamate
            secureJsonData:
              password: "$TESLAMATE_DB_PASSWORD"
            jsonData:
              postgresVersion: 1500
              sslmode: disable
              database: teslamate
    grafana.ini:
      auth:
        oauth_allow_insecure_email_lookup: false
      auth.basic:
        disable_login_form: false # TODO: revisit
      auth.azuread:
        enabled: true
        allow_sign_up: true
        auto_login: false
        team_ids:
        allowed_organizations:
        name: Azure AD
        scopes: openid profile email
    route:
      main:
        enabled: true
        apiVersion: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
          external-dns.alpha.kubernetes.io/target: "10.0.6.151"
        parentRefs:
          - name: internal
            namespace: kube-system
        hostnames:
          - grafana.eviljungle.com
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: grafana
                port: 80
