---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: qui-nfs-scaler
  namespace: default
spec:
  cooldownPeriod: 0
  minReplicaCount: 0
  maxReplicaCount: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: qui
  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://vmsingle-stack.monitoring.svc.cluster.local:8428
        query: probe_success{instance="nas.home:2049"}
        threshold: "1"
