---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: nfs
  namespace: monitoring
spec:
  module: tcp_connect
  prober:
    url: blackbox-exporter.monitoring.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - nas.home:2049
