---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v4.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: etcd-backup
  namespace: kube-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      etcd-backup:
        type: cronjob
        cronjob:
          # Run every 6 hours at 10 minutes past the hour
          schedule: "10 0/6 * * *"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        pod:
          restartPolicy: OnFailure
        containers:
          app:
            image:
              repository: ghcr.io/siderolabs/talos-backup
              tag: v0.1.0-beta.3@sha256:0741255027c4dcae6bb8d4e18a824ba73c431d11b3dff4967e95b9ff5388cb85
            workingDir: /tmp
            command:
              - /talos-backup
            env:
              CLUSTER_NAME: home
              ENABLE_COMPRESSION: "true"
              HOME: /tmp
            envFrom:
              - secretRef:
                  name: etcd-backup-s3-secret
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              allowPrivilegeEscalation: false
              runAsNonRoot: true
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      # Ensure this only runs on the control plane node
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      talos-secrets:
        type: secret
        name: etcd-backup
        globalMounts:
          - path: /var/run/secrets/talos.dev
            readOnly: true
