---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-lobby
  namespace: default
spec:
  suspend: false
  interval: 1h
  chart:
    spec:
      chart: minecraft
      version: 5.0.0
      sourceRef:
        kind: HelmRepository
        name: minecraft-server-charts
        namespace: flux-system
      interval: 5m
  values:
    replicaCount: 0
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: 2025.12.1@sha256:b425b4e58ebf2302b43d6be65f5136d9203addcd7a8b6a667d38d8746dc8e3a4
    fullnameOverride: minecraft-lobby
    persistence:
      storageClass: "ceph-block"
      dataDir:
        enabled: true
        Size: 5Gi
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      runAsNonRoot: true
      fsGroup: 1000
    resources:
      requests:
        memory: 2Gi
        cpu: 250m
      limits:
        memory: 2Gi
    extraEnv:
      ENABLE_AUTOPAUSE: FALSE
      PAPER_CHANNEL: "experimental"
      # MODRINTH_DOWNLOAD_DEPENDENCIES: "required"
      # MODRINTH_PROJECTS: |-
      #   coreprotect
      #   essentialsx
    minecraftServer:
      spigetResources:
        - 28140
        - 6245
        # - 14754
        - 102931
        - 4441 # hibernate
      modUrls:
        - https://cdn.modrinth.com/data/hXiIvTyT/versions/SKQwLLoQ/EssentialsX-2.21.0.jar
        # - https://cdn.modrinth.com/data/Lu3KuzdV/versions/llmrc4cl/CoreProtect-22.4.jar
      eula: true
      version: "LATEST"
      type: PAPER
      forceReDownload: true
      onlineMode: false
      difficulty: peaceful
      maxTickTime: -1
      serviceType: ClusterIP
      gameMode: adventure
      worldSaveName: 'Basic Lobby'
      motd: "\u00a7feviljungle\u00a7 - \u00a7a\u00a7llobby\u00a7"
      icon: https://www.freeiconspng.com/uploads/minecraft-server-icon-13.png
      rcon:
        enabled: false
---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: minecraft-lobby-kopia
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: minecraft-lobby-kopia-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        KOPIA_FS_PATH: /repository
        KOPIA_PASSWORD: "{{ .KOPIA_PASSWORD }}"
        KOPIA_REPOSITORY: filesystem:///repository
  dataFrom:
    - extract:
        key: kopia
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: minecraft-lobby
  namespace: default
spec:
  sourcePVC: minecraft-lobby-datadir
  trigger:
    schedule: "20 4 * * *"
  kopia:
    repository: minecraft-lobby-kopia-secret
    copyMethod: Snapshot
    volumeSnapshotClassName: csi-ceph-blockpool
    storageClassName: ceph-block
    accessModes: ["ReadWriteOnce"]
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 5Gi
    cacheStorageClassName: ceph-block
    compression: zstd-fastest
    parallelism: 2
    moverSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    retain:
      hourly: 24
      daily: 10
