---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-lobby
  namespace: default
spec:
  suspend: false
  interval: 1h
  chart:
    spec:
      chart: minecraft
      version: 5.1.1
      sourceRef:
        kind: HelmRepository
        name: minecraft-server-charts
        namespace: flux-system
      interval: 5m
  values:
    replicaCount: 0
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: 2026.1.3@sha256:da84359bd92be3d48f4f64b35a70ba9cd593d23a6fc8f68ccacb72ce4e972c41
    fullnameOverride: minecraft-lobby
    persistence:
      dataDir:
        enabled: true
        existingClaim: minecraft-lobby-datadir
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      runAsNonRoot: true
      fsGroup: 1000
    resources:
      requests:
        memory: 2Gi
        cpu: 250m
      limits:
        memory: 2Gi
    extraEnv:
      ENABLE_AUTOPAUSE: FALSE
      PAPER_CHANNEL: "experimental"
      # MODRINTH_DOWNLOAD_DEPENDENCIES: "required"
      # MODRINTH_PROJECTS: |-
      #   coreprotect
      #   essentialsx
    minecraftServer:
      spigetResources:
        - 28140
        - 6245
        # - 14754
        - 102931
        - 4441 # hibernate
      modUrls:
        - https://cdn.modrinth.com/data/hXiIvTyT/versions/SKQwLLoQ/EssentialsX-2.21.0.jar
        # - https://cdn.modrinth.com/data/Lu3KuzdV/versions/llmrc4cl/CoreProtect-22.4.jar
      eula: true
      version: "LATEST"
      type: PAPER
      forceReDownload: true
      onlineMode: false
      difficulty: peaceful
      maxTickTime: -1
      serviceType: ClusterIP
      gameMode: adventure
      worldSaveName: 'Basic Lobby'
      motd: "\u00a7feviljungle\u00a7 - \u00a7a\u00a7llobby\u00a7"
      icon: https://www.freeiconspng.com/uploads/minecraft-server-icon-13.png
      rcon:
        enabled: false
