---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-red
  namespace: default
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          main:
            image:
              repository: nodered/node-red
              tag: 4.1.2-18-minimal@sha256:b2904082cebbf79b0f232cabf04c170741c34bec15c1d26ebe17f4e1f30492e9
            env:
              TZ: "America/New_York"
              FLOWS: "flows.json"
              NODE_RED_ENABLE_PROJECTS: "true"
              NODE_RED_ENABLE_SAFE_MODE: "false"
            resources:
              requests:
                memory: 350Mi
                cpu: 150m
              limits:
                memory: 1Gi
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: &port 1880
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
          external-dns.alpha.kubernetes.io/target: "10.0.6.151"
        parentRefs:
          - name: tailscale-gateway
            namespace: kube-system
          - name: internal
            namespace: kube-system
        hostnames:
          - node-red.eviljungle.com
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: node-red
                port: 1880

    persistence:
      data:
        suffix: data
        storageClass: "ceph-block"
        accessMode: ReadWriteOnce
        size: "5Gi"
        globalMounts:
          - path: /data
