---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: icloudpd
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: icloudpd-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        ICLOUD_USERNAME: "{{ .ICLOUD_USERNAME }}"
  dataFrom:
    - extract:
        key: icloudpd
