---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: uptimerobot-prometheus
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: uptimerobot-prometheus
      version: 2.0.1
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: billimek/prometheus-uptimerobot-exporter
      tag: 0.0.1
    tolerations:
    - key: "arm"
      operator: "Exists"
    serviceMonitor:
      enabled: true
  valuesFrom:
  - kind: Secret
    name: "uptimerobot-prometheus-helm-values"
    optional: false
