---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  interval: 10m
  path: "../kube-system/external-secrets"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
