---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: audiobookshelf
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      audiobookshelf:
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            runAsGroup: 1001
            fsGroup: 1001
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
            env:
              TZ: "America/New_York"
              AUDIOBOOKSHELF_UID: 1001
              AUDIOBOOKSHELF_GID: 1001
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 500Mi
              limits:
                memory: 1500Mi
    service:
      app:
        primary: true
        controller: audiobookshelf
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/external: "true"
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
        hostnames:
          - &host abs.eviljungle.com
      internal:
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames:
          - *host

    persistence:
      config:
        existingClaim: audiobookshelf-config
        globalMounts:
          - path: /config
      cache:
        type: emptyDir
        globalMounts:
          - path: /.npm
      media:
        enabled: true
        type: nfs
        server: "nas.home"
        path: /mnt/tank/media
        globalMounts:
          - path: /media
            readOnly: true
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
