---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: opnsense-exporter
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: opnsense-exporter-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        OPNSENSE_API_KEY: "{{ .OPNSENSE_PROM_API_KEY }}"
        OPNSENSE_API_SECRET: "{{ .OPNSENSE_PROM_API_SECRET }}"
  dataFrom:
    - extract:
        key: opnsense
