---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readarr
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      readarr:
        initContainers:
          chown-run:
            image:
              repository: busybox
              tag: 1.37.0
            command: ["sh", "-c"]
            args: ["chown -R 1001:1001 /run"]
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/pennydreadful/bookshelf
              tag: softcover-v0.4.20.91@sha256:98408a79dcc80973e0021b6dd14f317b5449215a74b5ce9f9d1cb5da0a1bd234
            env:
              READARR__APP__INSTANCENAME: readarr
              READARR__APPLICATION_URL: 'https://readarr.eviljungle.com'
              READARR__APP__THEME: dark
              READARR__AUTH__METHOD: Forms
              READARR__AUTH__REQUIRED: DisabledForLocalAddresses
              READARR__LOG__DBENABLED: "False"
              READARR__LOG__LEVEL: info
              READARR__SERVER__PORT: &port 8787
              READARR__UPDATE__BRANCH: develop
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"], add: ["CHOWN"] }
            resources:
              requests:
                cpu: 50m
                memory: 750Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: readarr
        ports:
          http:
            port: *port

    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/internal: "true"
          external-dns.alpha.kubernetes.io/target: "10.0.6.151"
        parentRefs:
          - name: internal
            namespace: kube-system
        hostnames:
          - readarr.eviljungle.com
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: readarr
                port: 8787

    persistence:
      config:
        suffix: config
        storageClass: "ceph-block"
        accessMode: ReadWriteOnce
        size: "6Gi"
      media:
        type: nfs
        server: nas.home
        path: /mnt/tank/media
        globalMounts:
          - path: /media
      run:
        type: emptyDir
        globalMounts:
          - path: /run
      tmp:
        type: emptyDir
