---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: tailscale
  namespace: kube-system
spec:
  interval: 30m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.92.4
  url: oci://ghcr.io/tailscale/tailscale-operator
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: kube-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: tailscale
  values:
    operatorConfig:
      hostname: "tailscale-operator"
    apiServerProxyConfig:
      mode: "true"
    ingressClass:
      create: false
