export EMAIL=""
export DOMAIN=""
export TRAEFIK_AUTH=""
export CF_API_KEY=""
export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""
export INFLUXDB_PASSWORD=""
export GRAFANA_PASSWORD=""
export HUBOT_SLACK_TOKEN=""
export HUBOT_GRAFANA_API_KEY=""
export HUBOT_HOME_ASSISTANT_HOST=""
export HUBOT_HOME_ASSISTANT_API_PASSWORD=""
export HUBOT_GRAFANA_HOST=""
export HUBOT_GRAFANA_S3_ENDPOINT=""
export KEEL_SLACK_TOKEN=""
export COMCAST_USERNAME=""
export COMCAST_PASSWORD=""
export UPTIMEROBOT_APIKEY=""
export NEXTCLOUD_PASSWORD=""
export NEXTCLOUD_EMAIL=""
export HASS_API_PASSWORD=""
export HASS_CONFIG_USERNAME=""
export HASS_CONFIG_PASSWORD=""
export CAMERA_AUTH=""
export HASS_DB_PASSWORD=""
export RESTIC_PASSWORD=""
export GRAYLOG_PASSWORD=""
export PLEX_CLAIM_TOKEN=""
export SLACK_WEBHOOK_URL=""
export JEFF_AUTH=""
export AUTH0_DOMAIN=""
export AUTH0_CLIENT_ID=""
export AUTH0_CLIENT_SECRET=""
export AUTH0_GRAFANA_CLIENT_ID=""
export AUTH0_GRAFANA_CLIENT_SECRET=""
export GRAFANA_LOKI_KEY=""
export EXTERNAL_CEPH_ADMIN_SECRET=""
export EXTERNAL_CEPH_SECRET=""
export RABBITMQ_PASSWORD=""
export RABBITMQ_MQTT_USER_PASSWORD=""
export NEXTCLOUD_ADMIN_PASSWORD=""
export RTSP_PASSWORD=""
export HASS_TOKEN=""
export PIHOLE_ADMIN_PASSWORD=""
export VAULT_UNSEAL_TOKEN=""
export PIHOLE_CONDITIONAL_FWD_DOMAIN=""
export VAULT_ROOT_TOKEN=""
export VAULT_RECOVERY_TOKEN=""
export GOOGLE_CLIENT_ID=""
export GOOGLE_CLIENT_SECRET=""
export OAUTH2_PROXY_COOKIE_SECRET=""
export BOTKUBE_SLACK_TOKEN=""
