---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Flux Local

on:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  filter-changes:
    name: Filter changes
    runs-on: ubuntu-latest
    outputs:
      changed-files: ${{ steps.changed-files.outputs.changed_files }}
    steps:
      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@60967b822d3001fa82242f8d6b4ed46bc3600a68 # v47.0.1
        with:
          files: |-
            kubernetes/**/*

  test:
    if: ${{ needs.filter-changes.outputs.changed-files != '[]' }}
    name: Flux Local Test
    runs-on: ubuntu-latest
    needs:
      - filter-changes
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run flux-local test
        uses: docker://ghcr.io/allenporter/flux-local:v8.1.0
        with:
          args: test --enable-helm --all-namespaces --path /github/workspace/setup/flux/cluster -v

  diff:
    if: ${{ needs.filter-changes.outputs.changed-files != '[]' }}
    name: Flux Local Diff
    runs-on: ubuntu-latest
    needs:
      - filter-changes
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        resource:
          - helmrelease
          - kustomization
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Checkout Pull Request Branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: pull
          persist-credentials: false

      - name: Checkout Default Branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default
          persist-credentials: false

      - name: Run flux-local diff
        uses: docker://ghcr.io/allenporter/flux-local:v8.1.0
        with:
          args: >-
            diff ${{ matrix.resource }}
            --unified 6
            --path /github/workspace/pull/setup/flux/cluster
            --path-orig /github/workspace/default/setup/flux/cluster
            --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
            --limit-bytes 10000
            --all-namespaces
            --sources "flux-system"
            --output-file diff.patch

      - name: Generate Diff
        id: diff
        run: |
          {
              echo 'diff<<EOF'
              cat diff.patch
              echo EOF
          } >> "${GITHUB_OUTPUT}";
          {
              echo "## Flux ${{ matrix.resource }} diff"
              echo '```diff'
              cat diff.patch
              echo '```'
          } >> "${GITHUB_STEP_SUMMARY}"

      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Generate Token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}

      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Add Comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          header: ${{ github.event.pull_request.number }}/kubernetes/${{ matrix.resource }}
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```

  flux-local-success:
    needs:
      - test
      - diff
    if: ${{ !cancelled() }}
    name: Flux Local successful
    runs-on: ubuntu-latest
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
      - name: All jobs passed or skipped?
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
