name: Update CRDs

on:
  push:
    branches:
      - 'renovate/**'
    paths:
      - 'setup/crds/kustomization.yaml'
  workflow_dispatch: # Allow manual triggering

permissions:
  contents: write # Required for the 'Commit and push changes' step

jobs:
  update-crds:
    runs-on: ubuntu-latest
    steps:

      - name: Generate Token
        id: generate_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.x"

      - name: Update CRDs
        run: python .github/scripts/update_crds_local.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        with:
          commit_message: "Update vendored CRDs based on kustomization.yaml changes"
          file_pattern: setup/crds/vendor/**/*.yaml setup/crds/kustomization.yaml
          commit_options: "--signoff"
